@import '../../../assets/styles/style.scss';

.navbar-brand {
	height: 56px !important;
}
#nav__logo {
	color: $dark;
	font-size: 2rem;
	font-weight: bold;
	height: 100%;
	> span {
		color: $cyan1;
	}
	> img {
		height: 100% !important;
		max-height: fit-content;
		margin-right: 0.5rem;
	}
	@media (max-width: 480px) {
		font-size: 1.5rem;
		padding: 5px;
		> img {
			height: 80% !important;
			max-height: fit-content;
			margin-right: 0.5rem;
		}
	}
}
#nav__search {
	height: 30px;
	.input,
	.button {
		height: 30px;
	}
}
.cart-badge {
	@include center-flex;
	background: $cyan1;
	width: 20px;
	height: 20px;
	border-radius: 5px;
	margin: 3px;
}
.navbar.is-light .navbar-burger {
	height: 56px !important;
}
