@import '../../../assets/styles/style.scss';

.navbar-brand {
	height: 3.25rem !important;
}
#nav__logo {
	> img {
		width: 110px !important;
		height: auto !important;
		@media (max-width: 450px) {
			width: 90px !important;
		}
	}
}
#nav__search {
	height: 30px;
	.input,
	.button {
		height: 30px;
	}
}
.cart-badge {
	@include center-flex;
	background: $cyan1;
	width: 20px;
	height: 20px;
	border-radius: 5px;
	margin: 3px;
}
